@model IEnumerable<TodoItem>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Todo App</h1>
  
    <div>
        <a asp-controller="Todo" asp-action="Add">Add</a>
    </div>
    
    <hr />
    
    @foreach (var todo in Model)
    {
        <p>
            <span>@todo.Id</span> - <span>@todo.Text</span> - <a asp-action="Edit" asp-controller="Todo" asp-route-id="@todo.Id">Edit</a>
        </p>
    }
</div>